@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(245, 242, 248);
    background-color: rgb(102, 219, 235);
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgba(190, 72, 214, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: rgb(137 135 31);
    color: white;
}
.choice-text {
    padding: 1.5rem;
    width: 100%;
}
.correct {
    background-color: green;
    color: white;
}
.incorrect {
    background-color: red;
    color: black;
} 
/* Hud */
#hud {
    display: flex;
    justify-content: space-between;
}
.hud-prefix {
    text-align: center;
    font-size: small;
}
#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid blueviolet;
    margin-top: 2rem;
}
#progressBarFull {
    height: 3.4rem;
    background-color: blueviolet;
    width: 0%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
    
    .social-network {
    text-align: center;
    padding-top: 13px;
    position: relative;
    margin-top: 125px;
    }
    
    .social-network > li {display: inline;}
    .social-network i { 
    font-size: x-large;
    margin: 10px;
    padding: 5px;
    color: white;
    }
    footer p {background-color: white;
        text-align: center;
        font-size: medium;
        color: tomato;
        font-weight: 500;
        font-family: oswald, sans-serif;
        }
