@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');
#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    text-align: center;
}
#highScores{
    text-align: center;
}
.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-score:hover {
    transform: scale(1.025);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
.social-network {
text-align: center;
padding-top: 25px;
position: relative;
margin-top: 74px;
}

.social-network > li {display: inline;}
.social-network i { 
font-size: x-large;
margin: 10px;
padding: 5px;
color: white;
}
footer p {background-color: white;
    text-align: center;
    font-size: medium;
    color: tomato;
    font-weight: 500;
    font-family: oswald, sans-serif;
    }
